<div class="header">
  <h1>Blog</h1>
  <button mat-fab color="primary" (click)="addNewPostInBlog()" >
    <mat-icon  aria-label="Add new post">add</mat-icon>
  </button>
</div>


<mat-card class="main-tems-box" *ngIf="!blog">
  <mat-card-title>Гильдийская Реформа</mat-card-title>
  <div   style = "background-image: url('../../../assets/img/newupdateofrules.jpg');"class="img-box"></div>
  <mat-card-content>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
        <mat-card-title>GM_Aizik</mat-card-title>
        <mat-card-subtitle>Paladin</mat-card-subtitle>
    </mat-card-header>
    <p>Вот и пришло время изменять правила в нашей гильдии бля общего блага</p>
    <p>Гильдия уже давно нуждалась в изменениях я думаю вы все это понимаете. Сложности с лагами при большых рейдах неудобства от большого количества  явно скажем безполезных людей в рейдах или просто кто не готов учится на своих ошибках. Использование недоработок "Дыркуля" для собственной выгоды (лут, голд, ачивы). Все эти причины создали повод для того что бы случились данные изменения </p>
    <p>Изменения что произойдут в ближайшое время:</p>
      <ol>
        <li>Изменения и дроработка правил гильдии</li>
        <li>Выборы офицеров</li>
        <li>Создание Совета Офицеров как высшего руководящего органа в гильдии</li>
        <li>Формирование Статика из нынешних рейдеров с введением новой системы поощрений и наказаний</li>
        <li>Введение правила "1 неделя 1 новый босс"</li>
        <li>А также еще много чего но уже позже раскажу подробнее...</li>
      </ol>
    <p>Все должны осознавать что не только мне как ГМу и РЛу нужен глоток свежего воздуха и возможно взгляд со стороны, но и вам нужно понять, что именно от вас зависит будет ли игровой процес задорным и с шуточками про гаражи или же будет сплошная хрень с обидами и мутами.</p>
    <p>Всем спасибо и до новых новостей. </p>
    <p>Андрей</p>
  </mat-card-content>
</mat-card>

<ul>
  <li *ngFor="let blog of blogs | async">
    <mat-card class="main-tems-box" *ngIf="blog">
      <mat-card-title>{{blog.title}}</mat-card-title>
      <div [ngStyle]="{'background-image': 'url(' + blog.url + ')'}" class="img-box"></div>
      <mat-card-content>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
            <mat-card-title>{{blog.userID}}</mat-card-title>
            <mat-card-subtitle>Holy prist</mat-card-subtitle>
        </mat-card-header>
        <p innerHTML="{{blog.body | htmlTextLength: {maxLength: 3000, html: true} }}" style="overflow: hidden;"></p>
      </mat-card-content>
  </mat-card>
  </li>
</ul>

