.time-row{
    display: flex;
}
.dilog-title {
    position: relative;
    .close-button{
        position: absolute;
        right: 0;
        top: 0;
    }
}

.flex-icons-center {
    align-items: center;
}

:host ::ng-deep {
    .mat-dialog-actions{
        justify-content: flex-end;
        padding: 24px 0;
    }
}