

<div class="header">
  <h1>Add new blog post</h1>
  <div class="button-grup">
    <button mat-fab color="primary" (click)="addNewPostInBlog()" >
      <mat-icon  aria-label="Save">clear</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="addNewPostInBlog()" >
      <mat-icon  aria-label="Save">done</mat-icon>
    </button>
  </div>

</div>
<form class="form">
  <mat-form-field >
    <input matInput placeholder="Title">
  </mat-form-field>
</form>
<p>{{content | test }}</p>
<p innerHTML="{{content | htmlTextLength: {maxLength: truncate, html: true} }}"></p>
<p>{{content | htmlTextLength: {maxLength: 100, html: true} }}</p>

<app-upload-img></app-upload-img>

<app-editor-quill [editorContent] = "content"
></app-editor-quill>

