
.raid-list-box{
  .character-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    .item{
      height: 40px;
      border-bottom: 1px solid #000;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
