
<div class="raid-list-box row">
  <div class="col-4 character-list">
    <div class="item" *ngFor="let char of tanks">
      <span>{{char.name}}</span>
      <button mat-icon-button aria-label="Remove character from event" color="warn"
              *ngIf="isCanRemoveCharFromEvent(char)"
              (click)="delete(char)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-4 character-list">
    <div class="item" *ngFor="let char of heals">
      <span>{{char.name}}</span>
      <button mat-icon-button aria-label="Remove character from event" color="warn"
              *ngIf="isCanRemoveCharFromEvent(char)"
              (click)="delete(char)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
  <div class="col-4 character-list">
    <div class="item" *ngFor="let char of dps">
      <span>{{char.name}}</span>
      <button mat-icon-button aria-label="Remove character from event" color="warn"
              *ngIf="isCanRemoveCharFromEvent(char)"
              (click)="delete(char)">
        <mat-icon>remove_circle</mat-icon>
      </button>
    </div>
  </div>
</div>


