<mat-card>

  <mat-card-content>
    <h2 class="example-h2">Основніе правила гильдии </h2>

    <ol>
      <li>Біть дружелюбнім</li>
      <li>Помогать согильдийцам</li>
      <li>Так как у нас ПВЕ гильдия вам нужно посещать Рейді и ходить в подземелья</li>
      <li>Проявлять активное участие в обсуждениях в ги чатах и других видов чатов об жизни гильдии</li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  </mat-card-content>
  <mat-card-content>
    <h2 class="example-h2">Права и обязаности игроков </h2>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Новенький">
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>
      </mat-tab>
      <mat-tab label="Участник">
        <div class="demo-tab-content" disabled>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>
      <mat-tab label="Рейдер" disabled>
        No content  
      </mat-tab>
      <mat-tab label="Твинк" disabled>
        <div class="demo-tab-content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
          Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
          In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
          feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
          orci enim rutrum enim, vel tempor sapien arcu a tellus.
        </div>  
      </mat-tab>
      <mat-tab label="Ветеран" disabled>
        No content  
      </mat-tab>
      <mat-tab label="Офицер" disabled>
        No content  
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>