footer{margin: 0 auto;  position: fixed; bottom: 0; width: 100%; background: #fff; }
.footer-box{flex-direction: row; display: flex; align-items: center; justify-content: center; background: #3b3b3b;}
.footer-title{color: honeydew;}