<div class="profile-container" *ngIf="profileData">
    <div class="header">
        <h1>Профиль пользователя</h1>
        <button *ngIf="!isEdit" mat-fab color="primary" (click)="editProfileData()">
            <mat-icon  aria-label="Edit">edit</mat-icon>
        </button>

        
        <div *ngIf="isEdit">
            <button mat-fab color="primary" (click)="updateUserProfile()">
                <mat-icon  aria-label="Save">save</mat-icon>
            </button>
            <button mat-fab color="primary" class="ml-3" (click)="cencelEditProfile()">
                <mat-icon  aria-label="Cancel">close</mat-icon>
            </button>
        </div>
       
    </div>

    <div class="role-box mt-4">
        <p class="mr-2">Роль:</p>
        <mat-chip-list aria-label="User Roles">
            <mat-chip *ngFor="let role of profileData?.rolePermissions">{{role}}</mat-chip>
        </mat-chip-list>
    </div>

    <form [formGroup]="profileForm">

        <mat-form-field class="col-5 mr-3 p-0 pt-3" [floatLabel]="'always'">
            <mat-label>Никнейм</mat-label>
            <input matInput
                    maxlength="200"
                    placeholder="Введите ваш никнейм"
                    autocomplete="off"
                    formControlName="userNickname">
        </mat-form-field>

        <mat-form-field class="col-5 mr-3 p-0 pt-3" [floatLabel]="'always'">
            <mat-label>Email</mat-label>
            <input matInput
                    maxlength="75"
                    placeholder="Введите Email"
                    autocomplete="off"
                    formControlName="userEmail">
        </mat-form-field>

        <mat-form-field class="col-5 mr-3 p-0 pt-3" [floatLabel]="'always'">
            <mat-label>Аватар пользователя</mat-label>
            <input matInput
                    maxlength="200"
                    placeholder="Встатвте ссылку на аватар"
                    autocomplete="off"
                    formControlName="userAvatarURL">
        </mat-form-field>

    </form>
</div>