.time-row{
  display: flex;
}
.dilog-title {
  position: relative;
  .close-button{
    position: absolute;
    right: 0;
    top: 0;
  }
}

:host ::ng-deep {
  .mat-dialog-actions{
    justify-content: flex-end;
    padding: 24px 0;
  }
}

.fill-role {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .role-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .role-item{
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #000;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add-button{
        margin-left: auto;
      }
    }
  }
  .role {
    display: flex;
    align-items: center;

    .count-count {
      padding-left: 5px;
    }
  }
}
