<div class="chat-container">
  <ul>
    <div *ngFor="let item of items | async">
      <app-message [item] = "item" (updateMsgEvent)="updateMsgItem($event)" (deleteMsgEvent)="deleteMsgItem($event)"  ></app-message>
    </div>

    <!-- <div class="msg-container" *ngFor="let item of items | async">
        <mat-card-header>
            <div mat-card-avatar class="user-icon" [ngStyle]="{backgroundImage: 'url(' + item.userIcon + ')'}"></div>
            <mat-card-title>{{item.user}} Holy prist</mat-card-title>
            <mat-card-subtitle>{{item.date | date: 'short'}}</mat-card-subtitle>
        </mat-card-header>
        



        <div class="msg-box">
          <div *ngIf="cantEdit==true;else editMsgInput">
              <p class="msg-text">{{item.text}}</p>
          </div>
          
          <ng-template #editMsgInput>
            <mat-form-field class="example-full-width">
              <input [disabled]="cantEdit" (keyup.enter)="updateItem(item.key, updatetext.value)"
              (blur)="cantEdit = true" #updatetext matInput [value]="item.text">
            </mat-form-field>
          </ng-template>
            
          

        

          <div *ngIf="cantEdit==true;else editBtn">
              <button mat-icon-button (click)="cantEdit = false">
                <mat-icon aria-label="Edit message">edit</mat-icon>
              </button>
          </div>
          <ng-template #editBtn>
            <button type="button" mat-icon-button (click)="updateItem(item.key, updatetext.value)">
              <mat-icon aria-label="Edit message">done</mat-icon>
            </button>
            <button type="button" mat-icon-button (click)="cantEdit = true">
              <mat-icon aria-label="Edit message">close</mat-icon>
            </button>
          </ng-template>
          

          <button type="button" mat-icon-button (click)="deleteItem(item.key)">
            <mat-icon aria-label="Delete message">delete</mat-icon>
          </button>
      </div>

      </div> -->
    <!-- <li *ngFor="let item of items | async">
      <input /> type="text" #updatetext [value]="item.text" />
      <button (click)="updateItem(item.key, updatetext.value)">Update</button>
      <button (click)="deleteItem(item.key)">Delete</button>
    </li> -->
  </ul>
  <div class="add-msg-container">
    <form class="chat-send">
      <mat-form-field class="chat-input">
        <input autocomplete="off" matInput type="text" #newitem />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="addItem(newitem.value)">SEND</button>
    </form>   
  </div>
</div>
