.user-icon{
    background-size: cover;
    background-image: url(https://vanillapriest.files.wordpress.com/2017/09/wow-vanilla-priest.png?w=240)
}
.msg-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.chat-container{}
.msg-box{display: flex; flex-direction: row; justify-content: flex-start; width: 80%;}
.msg-box:hover button{opacity: 1; transition: 0.5s;}
.msg-box button{opacity: 0;}
.msg-box div:first-child{margin-right: auto;}
