.user-icon{
    background-size: cover;
}
.msg-container{display: flex; flex-direction: row; justify-content: flex-start; align-items: center; }
.msg-box{display: flex; flex-direction: row; justify-content: flex-start; width: 80%;}
.msg-box:hover button{opacity: 1; transition: 0.5s;}
.msg-box button{opacity: 0;}
.msg-box div:first-child{margin-right: auto;}

.chat-bar{display: flex; }
.chat-send{width: 80%; display: flex; justify-content: space-between; align-items: center; padding-left: 190px;}
.chat-input{ width: calc(100% - 95px); }
