<div class="chat-container">
  <ul>
    <div class="msg-container" *ngFor="let item of items | async">
        <mat-card-header>
            <div mat-card-avatar class="user-icon"></div>
            <mat-card-title>{{item.user}} Holy prist</mat-card-title>
            <mat-card-subtitle>{{item.date | date: 'short'}}</mat-card-subtitle>
        </mat-card-header>
        <p>{{item.text}}</p>
      </div>
    <li *ngFor="let item of items | async">
      <input type="text" #updatetext [value]="item.text" />
      <button (click)="updateItem(item.key, updatetext.value)">Update</button>
      <button (click)="deleteItem(item.key)">Delete</button>
    </li>
  </ul>
  <div class="add-msg-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput type="text" #newitem />
      </mat-form-field>
      <button (click)="addItem(newitem.value)">Add</button>
      <button (click)="deleteEverything()">Delete All</button>
    </form>   
  </div>
</div>