@import "variables";

.tile-group-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.add-new-character{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile{
    margin-top: 12px;
    width: calc(25% - 12px);
    min-height: 200px;
    background-color: #3737370d;
    height: 292px;
    position: relative;
    margin-right: 12px;
    &:nth-child(4) {
        margin-right: 0;
    }


    .tile-box{
        display: flex;
        .character-info{
            width: 100%;
            .name{
                width: calc(100% - 30px);
                font-size: 20px;
                font-weight: 600;
            }
            .line{
                display: flex;
                align-items: center;
            }
            img{
                width: 38px;
            }
        }
    }
    .button-box{
        position: absolute;
        top: 6px;
        right: 6px;
    }
}
