<h3>Персонажи</h3>
<div class="tile-box">
    <ng-container *ngIf="characters.length">
        <mat-card *ngFor="let item of characters" class="tile">
            <div class="class">{{item.class}}</div>
            <div class="class">{{item.race}}</div>
            <div class="name">{{item.name}}</div>
            <button mat-icon-button (click)="openEditCharacterModal(item)" aria-label="Edit charecter">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteCherecerConfirmation(item)" aria-label="Delete charecter">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card>
    </ng-container>
    
    <mat-card class="add-new-charecter tile">
        <button mat-fab color="primary" (click)="openAddNewCharacterModal()" >
            <mat-icon  aria-label="Add new charecter">add</mat-icon>
        </button>
    </mat-card>
</div>


