<div class="aside_list">
    <div class="button_aside">
      <h5>{{title}}</h5>
      <!-- <button mat-raised-button color="primary" class="mr-4">Детали</button> -->
    </div>
    <div class="scroll">
      <div class="events mx-3 mt-2" *ngFor="let item of [1, 2, 3, 4, 5]">
        <div class="events_left">
          <p>Началось в 15:00</p>
          <p>Продолжительность: 2ч</p>
        </div>
        <div class="events_right">
          <ul>ЦН-об
            <li><span class="icon tank-icon"></span> 2/2</li>
            <li><span class="icon heal-icon"></span>5/5</li>
            <li><span class="icon dps-icon"></span>10/10</li>
          </ul>
        </div>
      </div>
     
    </div>
  </div>
