<mat-card class="main-tems-box" *ngIf="blog">
    <mat-card-title>{{blog.title}}</mat-card-title>
    <div [ngStyle]="{'background-image': 'url(' + blog.url + ')'}" class="img-box"></div>
    <mat-card-content>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
            <mat-card-title>{{blog.userID}}</mat-card-title>
            <mat-card-subtitle>Holy prist</mat-card-subtitle>
        </mat-card-header>
        <p innerHTML="{{blog.body | htmlTextLength: {maxLength: 3000, html: true} }}" style="overflow: hidden;"></p>
    </mat-card-content>
</mat-card>
