<div class="all">
  <main>
    <div class="first_raid">
      <h5>Собрать собственний рейд</h5>
      <input type="button" class="input1" value="ПРИСТУПИТЬ К СБОРУ РЕЙДА">
    </div>
    <div class="second_raid">
      <h5>Присоединиться к рейду</h5>
      <input type="button" class="input2" value="ПРИСТУПИТЬ К РЕЙДУ">
    </div>
    <div class="article_all">
      <article class="left">
        <mat-card class="example-card">
        <img src="../../../../assets/img/article_picture.jpg" alt="Инструкция в поход Part 2">
        <h4>Поход в рейд смотри инструкцию</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        </mat-card>
      </article>
      <article class="right">
        <mat-card class="example-card">
        <img src="../../../../assets/img/article_picture2.jpg" alt="Инструкция в поход Part 1">
        <h4>Поход в рейд смотри инструкцию</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        </mat-card>
      </article>
    </div>
  </main>

  <aside>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список прошедших собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список текущих собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список ближайших собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
