<div class="all">
  <main>
    <div class="first_raid">
      <h5>Собрать собственний рейд</h5>
      <button type="button" class="raid-nav-button" (click)="ceateRaid()">Приступить к сбору</button>>
    </div>
    <div class="second_raid">
      <h5>Присоединиться к рейду</h5>
      <button type="button" class="raid-nav-button" (click)="joinRaid()">Найтии рейд</button>>
    </div>

    <div class="article_all">
      <article class="blog-box" *ngFor="let blog of selectShortBlogList$ | async">
        <app-blog-small-card [blog]="blog"></app-blog-small-card>
      </article>
    </div>
  </main>

  <div class="event-inf-box">
    <app-event-info-table [title]="'Список прошедших собитий'"></app-event-info-table>
    <app-event-info-table [title]="'Список текущих собитий'"></app-event-info-table>
    <app-event-info-table [title]="'Список ближайших собитий'"></app-event-info-table>
  </div>
</div>
