/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html{height: 100%;}
body{height: 100%; box-sizing: border-box; margin: 0;}

.pointer{
    cursor: pointer;
}
p{
    margin: 0;
}

.flex{
    display: flex;
}

.icon{
    display: block;
    height: 18px;
    width: 18px;
    background-position: center;
    background-repeat: no-repeat;
}
.icon.tank-icon{
    background-image: url(./assets/img/roles/ej-tank.png);
}
.icon.heal-icon{
    background-image: url(./assets/img/roles/ej-healer.png);
}
.icon.dps-icon{
    background-image: url(./assets/img/roles/ej-dps.png);
}