
<mat-card class="main-tems-box">
    <mat-card-title>Конкурс «Breadwinner Vasilisa»</mat-card-title>
    <div   style = "background-image: url('../../../assets/img/U0NSB8F9YAJR1447979691565.jpg');"class="img-box"></div>
    <mat-card-content>
      <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
          <mat-card-title>Iriel</mat-card-title>
          <mat-card-subtitle>Holy prist</mat-card-subtitle>
      </mat-card-header>
      <p>Доброго времени суток!</p>
      <p>В нашей гильдии много интересных людей. Есть девушка, которой я хочу посвятить этот ивент. Все мы знаем Рысенка (Василису) как отзывчивого, доброго, хорошего человека. 
          Я хочу предложить Вам ей помочь. Хоть она и говорит, что ей приятно и не тяжело нам помогать, но все, же она заслужила немного отдыха.</p>
      <p>Что нужно для участия в конкурсе? </p>
      <p>Всего-ничего! Ваша задача – прокормить гильдию неделю и более.</p>
      <p>Задача:</p>
        <ol>
          <li>Собрать ингредиенты актуальные для приготовления рецептов Легиона по профессии «Кулинарное дело» и «Алхимии».</li>
          <li>Выслать их на почту Ириэль.</li>
        </ol>
      <p>Правила:</p>
        <ol>
          <li>Сроки проведения конкурса с вечера 06 июня 22.00 по 16 июня 10.00 включительно.</li>
          <li>Писем (посылок) может быть сколько угодно, но от одного персонажа с аккаунта. Так как подсчет будет производиться, отталкиваясь от Ваших ников.</li>
          <li>Принимать участие в конкурсе могут все игроки, находящиеся в нашем дис-корде и играющие WoWCircle x4 Server</li>
          <li>Игроки не с нашей гильдии в посылке пишите название своей гильдии («нет гильдии», если они сами по себе). 
            </li>
        </ol>
      <p>Призы: </p> 
      <ol>
        <li>Фиал песков, 5 сумок на 30 ячеек.</li>
        <li>Сапфировая пантера, 3 сумки на 30 ячеек.</li>
        <li>1 сумка на 30 ячеек.</li>
      </ol>  
      <p>Ники победителей будут опубликованы 16 июня после 10.00</p> 
      <p>Желаю удачи! </p>  
    </mat-card-content>

    
  </mat-card> 



  <mat-card class="main-tems-box">
    <mat-card-title>Гильдийская Реформа</mat-card-title>
    <div   style = "background-image: url('../../../assets/img/newupdateofrules.jpg');"class="img-box"></div>
    <mat-card-content>
      <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
          <mat-card-title>GM_Aizik</mat-card-title>
          <mat-card-subtitle>Paladin</mat-card-subtitle>
      </mat-card-header>
      <p>Вот и пришло время изменять правила в нашей гильдии бля общего блага</p>
      <p>Гильдия уже давно нуждалась в изменениях я думаю вы все это понимаете. Сложности с лагами при большых рейдах неудобства от большого количества  явно скажем безполезных людей в рейдах или просто кто не готов учится на своих ошибках. Использование недоработок "Дыркуля" для собственной выгоды (лут, голд, ачивы). Все эти причины создали повод для того что бы случились данные изменения </p>
      <p>Изменения что произойдут в ближайшое время:</p>
        <ol>
          <li>Изменения и дроработка правил гильдии</li>
          <li>Выборы офицеров</li>
          <li>Создание Совета Офицеров как высшего руководящего органа в гильдии</li>
          <li>Формирование Статика из нынешних рейдеров с введением новой системы поощрений и наказаний</li>
          <li>Введение правила "1 неделя 1 новый босс"</li>
          <li>А также еще много чего но уже позже раскажу подробнее...</li>
        </ol>
      <p>Все должны осознавать что не только мне как ГМу и РЛу нужен глоток свежего воздуха и возможно взгляд со стороны, но и вам нужно понять, что именно от вас зависит будет ли игровой процес задорным и с шуточками про гаражи или же будет сплошная хрень с обидами и мутами.</p> 
      <p>Всем спасибо и до новых новостей. </p>  
      <p>Андрей</p>  
    </mat-card-content>

    
  </mat-card> 