
<mat-card class="main-tems-box">
    <mat-card-title>Конкурс «Breadwinner Vasilisa»</mat-card-title>
    <div   style = "background-image: url('../../../assets/img/U0NSB8F9YAJR1447979691565.jpg');"class="img-box"></div>
    <mat-card-content>
      <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
          <mat-card-title>Iriel</mat-card-title>
          <mat-card-subtitle>Holy prist</mat-card-subtitle>
      </mat-card-header>
      <p>Доброго времени суток!</p>
      <p>В нашей гильдии много интересных людей. Есть девушка, которой я хочу посвятить этот ивент. Все мы знаем Рысенка (Василису) как отзывчивого, доброго, хорошего человека. 
          Я хочу предложить Вам ей помочь. Хоть она и говорит, что ей приятно и не тяжело нам помогать, но все, же она заслужила немного отдыха.</p>
      <p>Что нужно для участия в конкурсе? </p>
      <p>Всего-ничего! Ваша задача – прокормить гильдию неделю и более.</p>
      <p>Задача:</p>
        <ol>
          <li>Собрать ингредиенты актуальные для приготовления рецептов Легиона по профессии «Кулинарное дело» и «Алхимии».</li>
          <li>Выслать их на почту Ириэль.</li>
        </ol>
      <p>Правила:</p>
        <ol>
          <li>Сроки проведения конкурса с вечера 06 июня 22.00 по 16 июня 10.00 включительно.</li>
          <li>Писем (посылок) может быть сколько угодно, но от одного персонажа с аккаунта. Так как подсчет будет производиться, отталкиваясь от Ваших ников.</li>
          <li>Принимать участие в конкурсе могут все игроки, находящиеся в нашем дис-корде и играющие WoWCircle x4 Server</li>
          <li>Игроки не с нашей гильдии в посылке пишите название своей гильдии («нет гильдии», если они сами по себе). 
            </li>
        </ol>
      <p>Призы: </p> 
      <ol>
        <li>Фиал песков, 5 сумок на 30 ячеек.</li>
        <li>Сапфировая пантера, 3 сумки на 30 ячеек.</li>
        <li>1 сумка на 30 ячеек.</li>
      </ol>  
      <p>Ники победителей будут опубликованы 16 июня после 10.00</p> 
      <p>Желаю удачи! </p>  
    </mat-card-content>

    
  </mat-card> 