<!-- 123
<mat-card class="main-tems-box" *ngIf="blog">
    <mat-card-title>{{blog.title}}</mat-card-title>
    <div [ngStyle]="{'background-image': 'url(' + blog.url + ')'}" class="img-box"></div>
    <mat-card-content>
      <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
          <mat-card-title>{{blog.userID}}</mat-card-title>
          <mat-card-subtitle>Holy prist</mat-card-subtitle>
      </mat-card-header>
      <p innerHTML="{{blog.body | htmlTextLength: {maxLength: 3000, html: true} }}" style="overflow: hidden;"></p>
    </mat-card-content>
</mat-card>



<mat-card class="main-tems-box" *ngIf="!blog">
  <mat-card-title>Гильдийская Реформа</mat-card-title>
  <div   style = "background-image: url('../../../assets/img/newupdateofrules.jpg');"class="img-box"></div>
  <mat-card-content>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image" style="background-image: url('../../../assets/img/wow-vanilla-priest.png');"></div>
      
        <mat-card-title>GM_Aizik</mat-card-title>
        <mat-card-subtitle>Paladin</mat-card-subtitle>
    </mat-card-header>
    <p>Вот и пришло время изменять правила в нашей гильдии бля общего блага</p>
    <p>Гильдия уже давно нуждалась в изменениях я думаю вы все это понимаете. Сложности с лагами при большых рейдах неудобства от большого количества  явно скажем безполезных людей в рейдах или просто кто не готов учится на своих ошибках. Использование недоработок "Дыркуля" для собственной выгоды (лут, голд, ачивы). Все эти причины создали повод для того что бы случились данные изменения </p>
    <p>Изменения что произойдут в ближайшое время:</p>
      <ol>
        <li>Изменения и дроработка правил гильдии</li>
        <li>Выборы офицеров</li>
        <li>Создание Совета Офицеров как высшего руководящего органа в гильдии</li>
        <li>Формирование Статика из нынешних рейдеров с введением новой системы поощрений и наказаний</li>
        <li>Введение правила "1 неделя 1 новый босс"</li>
        <li>А также еще много чего но уже позже раскажу подробнее...</li>
      </ol>
    <p>Все должны осознавать что не только мне как ГМу и РЛу нужен глоток свежего воздуха и возможно взгляд со стороны, но и вам нужно понять, что именно от вас зависит будет ли игровой процес задорным и с шуточками про гаражи или же будет сплошная хрень с обидами и мутами.</p>
    <p>Всем спасибо и до новых новостей. </p>
    <p>Андрей</p>
  </mat-card-content>

</mat-card> -->


<div class="all">
  <main>
    <div class="first_raid">
      <h5>Собрать собственний рейд</h5>
      <input type="button" class="input1" value="ПРИСТУПИТЬ К СБОРУ РЕЙДА">
    </div>
    <div class="second_raid">
      <h5>Присоединиться к рейду</h5>
      <input type="button" class="input2" value="ПРИСТУПИТЬ К РЕЙДУ">
    </div>
    <div class="article_all">
      <article class="left">
        <mat-card class="example-card">
        <img src="../../../../assets/img/article_picture.jpg" alt="Инструкция в поход Part 2">
        <h4>Поход в рейд смотри инструкцию</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        </mat-card>
      </article>
      <article class="right">
        <mat-card class="example-card">
        <img src="../../../../assets/img/article_picture2.jpg" alt="Инструкция в поход Part 1">
        <h4>Поход в рейд смотри инструкцию</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.</p>
        </mat-card>
      </article>
    </div>
  </main>

  <aside>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список прошедших собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список текущих собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="aside_list">
      <div class="button_aside">
        <h5>Список ближайших собитий</h5>
        <button mat-raised-button color="primary" class="mr-4">Детали</button>
      </div>
      <div class="scroll">
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
        <div class="events">
          <div class="events_left">
            <p>Началось в 15:00</p>
            <p>Продолжительность: 2ч</p>
          </div>
          <div class="events_right">
            <ul>ЦН-об
              <li><span class="icon tank-icon"></span> 2/2</li>
              <li><span class="icon heal-icon"></span>5/5</li>
              <li><span class="icon dps-icon"></span>10/10</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </aside>
</div>
