<p>
  blog works!
</p>


<ul>
  <li *ngFor="let blog of blogs | async">
    <p>{{ blog.title }}</p>
    {{ blog.content }}
  </li>
</ul>

<input type="text" [(ngModel)]="title" name="title" id="" placeholder="title">
<app-text-editor [elementId]="'post-body'" (onEditorKeyup)="onBodyTextEditorKeyUp($event)"></app-text-editor>





<angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
<button color="primary" mat-menu-item (click)="addArticle()">
  <mat-icon>whatshot</mat-icon>
  <span>AddArticle</span>
</button>


<textarea type="text" [(ngModel)]="content" name="body" id="" placeholder="title"></textarea>
<button type="submit" (click)="pushArticle()">Send Article</button>
<input type="submit" value="" (click)="pushArticle()">

